<!DOCTYPE html>
<html>
  <head>
    <title>blog application</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <h2>Blog.app</h2>
      </div>
    </header>
    <main>
      <section class="hero-section flex">
        <div class="hero-container">
          <h1>Welcome to our blog application</h1>
          <a href="/articles">Read our articles</a>
        </div>
      </section>
    </main>
  </body>
</html>
